<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Dashboard</div>
    <div class="page__content shadow p-3 position-relative">
      <div class="page__content-data position-absolute text-center">
        <label for="cars" style="font-size: 0.8em;">Choose the student:</label>
        
        <select name="cars" id="cars" style="font-size: .5em;">
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
        </select>

        <div class="details">
          <div class="specific"><span>Name:</span>  <span>arzaw</span></div>
          <div class="specific"><span>Year of Passing:</span>  <span>2022</span></div>
          <div class="specific"><span>Mobile No:</span>  <span>9554251486</span></div>
          <div class="specific"><span>Email:</span>  <span>arzaw.tiwari@gmail.com</span></div>
          <div class="specific"><span>Level Of Proficiency:</span>  <span>2</span></div>
          <div class="specific"><span>College:</span>  <span>NIT Kurukshetra</span></div>
          <div class="specific"><span>Gender:</span>  <span>Male</span></div>
          <div class="specific"><span>Branch:</span>  <span>ECE</span></div>

        </div>
      </div>
    </div>
  </div>