<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Home</div>
    <div class="page__content shadow p-3 position-relative">
      <div class="page__content-data position-absolute text-center">
        <div class="data">
          <table style="font-size: 0.5em;">
  
            <thead>
              <th>Name</th>
              <th>Email</th>
              <th>Mobile</th>
              <th>Message</th>
            </thead>
            
            <tbody>
              <tr>
                <td data-label="name">Ken Griffey Jr.</td>
                <td data-label="email">arb@jfh.com</td>
                <td data-label="mobile">2837326148</td>
                <td data-label="message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga nemo labore minima corrupti 
                  assumenda repellat praesentium eaque quidem excepturi quibusdam sunt illo error, saepe inventore eum corporis porro 
                  dolor perspiciatis.</td>
              </tr>
                
                
            </tbody>
            
          </table>
        </div>
      </div>
    </div>
  </div>